*{
    margin: 0px;
    padding: 0px;
}

.container{
    padding: 50px;
    background-color: aliceblue;
    height: 90vh;
    width: 100wv;
}

.main{
    height: 80vh;
    width: 80wv;
    padding:10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(213, 216, 216);
    border: 1px solid black;
    border-radius: 5px;
}

.wetherbox{
    background-color: white;
    height: 400px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.condition{
    height: 100px;
    width: 100px;
    margin-left: 40px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.sunSize{
    font-size: 50px;
}

.details {
    text-align: center;
}
.temp{
    text-align: center;
}

.wave3{
    height: 300px;
    width: 300px;
    border: 1px solid;
    position: absolute;
    margin-top: 150px;
    /* background-color: aqua; */
    border-radius: 40%;
    



}

.wave2{
    height: 330px;
    width: 330px;
    border: 1px solid;
    position: absolute;
    margin-top: 150px;
    /* background-color: purple; */
    border-radius: 40%;
    

}

.wave1{
    height: 340px;
    width: 340px;
    border: 1px solid;
    position: absolute;
    margin-top: 150px;
    /* background-color: blue; */
    border-radius: 40%;
    

}

/* .rotate-center{
    transform: rotate(360deg);
    transition: .1s;
    animation: linear infinite forwards;


} */
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating .001s linear infinite forwards;
    -moz-animation: rotating .001s linear infinite forwards;
    -ms-animation: rotating .001s linear infinite forwards;
    -o-animation: rotating .001s linear infinite forwards;
    animation: rotating .001s linear infinite forwards;
  }